@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: HurmeGeometricSans;
	src: url("assets/fonts/HurmeGeometricSans/HurmeGeometricSans.otf")
		format("opentype");
}

@layer utilities {
	.after {
		content: "";
	}
	.absCenter {
		@apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
	}
	.gridLayout {
		@apply grid-cols-mobileLayout sm:grid-cols-smallLayout lg:grid-cols-defaultLayout;
	}
}
@layer components {
	.rootLayout {
		@apply grid grid-cols-mobileLayout sm:grid-cols-smallLayout lg:grid-cols-defaultLayout grid-rows-[63px_1fr_min-content];
	}
	.link-active {
		@apply after:bg-theme-blue-pitch after:h-1 after:w-full after:absolute after:bottom-0.5 after:rounded-t-full after:left-0 after after:transition;
	}
}

@layer base {
	body {
		font-family: "HurmeGeometricSans";
		@apply bg-theme-blue-primary h-full;
	}
	*,
	*::after,
	*::before {
		@apply m-0 p-0 box-border;
	}

	#root {
		@apply h-full;
	}
	html {
		@apply h-full;
	}
}
